<div id="video">
	<span id="video_title"><%= link_to title.html_safe, permalink, target: "blank" %></span>
	<div class="clear"></div>
	<object id="soundcloudPlayer" classid="IE-IS-LAME">
	</object>
</div>
