<div id="video">
	<span id="video_title"><%= link_to title.html_safe, permalink, target: "blank" %></span>
	<iframe id="vimeoplayer" src="<%= embed %>" width="100%" height="85%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>